<div class="container" style="min-height: 75vh;">
	<h2>
	  <%= @project.name %>
	</h2>
	<p>
		$<%= @project.price %>
	</p>
	<p>
	  <%= raw @project.text %>
	</p>

	<hr style="margin-top: 100px;">
	<% if @project.user == current_user %>
		<%= link_to 'Edit', edit_project_path(@project) , class: 'btn btn-default'%>
		<%= link_to 'Delete', project_path(@project), method: :delete, class: 'btn btn-default' %>
	<% end %>
	<% if @project.price && user_signed_in? %>
		<%= link_to 'Add to cart', {controller: "cart", action: "add", id: @project.id}, class: 'btn btn-default' %>
	<% end %>
	<%= link_to 'Back', projects_path, class: 'btn btn-default' %>
</div>
