<div class="container project-all">
	<div class="project-top">
		Projects
		<hr>
	</div>

	<div class="row project-each">
		<div class="col-md-4 col-sm-6 col-xs-12 project-box">
			<div class="project-title">
				Products
				<div class="project-title-text text-right">
					Eco-friendly<br>Traditional<br>Cutting-edge
				</div>
			</div>
		</div>

		<% @products.each_with_index do |product, index| %>
			<% if index < 5 %>
				<%= link_to project_path(product) do %>
					<div class="col-md-4 col-sm-6 col-xs-12 project-box">
						<div class="project-box-image"  style="background-image: url('<%= product.imageurls[0] %>'); ">
						</div>
						<div class="project-box-title">
							<%= product.name %>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>

		<div id="moreProduct" class="accordion-body collapse">
  		<% @products.each_with_index do |product, index| %>
				<% if index >= 5 %>
					<%= link_to project_path(product) do %>
						<div class="col-md-4 col-sm-6 col-xs-12 project-box">
							<div class="project-box-image" style="background-image: url('<%= product.imageurls[0] %>');">
							</div>
							<div class="project-box-title">
								<%= product.name %>
							</div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>

	<% if @products.size > 3 %>
		<div class="row">
			<a class="accordion-toggle" data-toggle="collapse" href="#moreProduct">
        <div class="read-more">
          Read more
        </div>
			</a>
		</div>
	<% end %>

	<div class="row project-each">
		<div class="col-md-4 col-sm-6 col-xs-12 project-box text-right" style="float:right;">
			<div class="project-title">
				Collaborations
			</div>
		</div>
		<% @collaborations.each_with_index do |collaboration, index| %>
			<% if index < 2 %>
				<%= link_to project_path(collaboration) do %>
					<div class="col-md-4 col-sm-6 col-xs-12 project-box">
						<div class="project-box-image" style="background-image: url('<%= collaboration.imageurls[0] %>');">
						</div>
						<div class="project-box-title">
							<%= collaboration.name %>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>

		<div id="moreCollaboration" class="accordion-body collapse">
  		<% @collaborations.each_with_index do |collaboration, index| %>
				<% if index >= 2 %>
					<%= link_to project_path(collaboration) do %>
						<div class="col-md-4 col-sm-6 col-xs-12 project-box">
							<div class="project-box-image" style="background-image: url('<%= collaboration.imageurls[0] %>');">
							</div>
							<div class="project-box-title">
								<%= collaboration.name %>
							</div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>

	<% if @collaborations.size > 2 %>
		<div class="row">
			<a class="accordion-toggle" data-toggle="collapse" href="#moreCollaboration">
        <div class="read-more">
          Read more
        </div>
			</a>
		</div>
	<% end %>


	<div class="row project-each">
		<div class="col-md-4 col-sm-6 col-xs-12 project-box">
			<div class="project-title">		
				Consultings
			</div>
		</div>

		<% @consultings.each_with_index do |consulting, index| %>
			<% if index < 2 %>
				<%= link_to project_path(consulting) do %>
					<div class="col-md-4 col-sm-6 col-xs-12 project-box">
						<div class="project-box-image"  style="background-image: url('<%= consulting.imageurls[0] %>');">
						</div>
						<div class="project-box-title">
							<%= consulting.name %>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>

		<div id="moreConsulting" class="accordion-body collapse">
  		<% @consultings.each_with_index do |consulting, index| %>
				<% if index >= 2 %>
					<%= link_to project_path(consulting) do %>
						<div class="col-md-4 col-sm-6 col-xs-12 project-box">
							<div class="project-box-image" style="background-image: url('<%= consulting.imageurls[0] %>');">
							</div>
							<div class="project-box-title">
								<%= consulting.name %>
							</div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>

	<% if @consultings.size > 2 %>
		<div class="row">
			<a class="accordion-toggle" data-toggle="collapse" href="#moreConsulting">
        <div class="read-more">
          Read more
        </div>
			</a>
		</div>
	<% end %>


	<% if user_signed_in? %>
		<%= link_to 'New project', new_project_path, class: 'btn btn-default' %>
	<% end %>
</div>