<div class="container">
	<h2>
	  <%= @project.name %>
	</h2>
	<p>
	  <%= raw @project.text %>
	</p>

	<hr>
	<% if user_signed_in? %>
		<%= link_to 'Edit', edit_project_path(@project) , class: 'btn btn-default'%>
		<%= link_to 'Delete', project_path(@project), method: :delete, class: 'btn btn-default' %>
	<% end %>
	<%= link_to 'Back', projects_path, class: 'btn btn-default' %>
</div>