<div class="custom-navbar-top">	
	<%= link_to root_path do %>
		<span class="navbar-menu-right">
			<span>SHOP</span>
			<!-- <hr class="navbar-hr navbar-shop"> -->
		</span>
	<% end %>
	<%= link_to projects_path do %>
		<span class="navbar-menu-right">
			<span>PROJECT</span>
			<!-- <hr class="navbar-hr navbar-project"> -->
		</span>
	<% end %>
	<%= link_to home_about_path do %>
		<span class="navbar-menu-right">
			<span>ABOUT</span>
			<!-- <hr class="navbar-hr navbar-about"> -->
		</span>	
	<% end %>
	<%= link_to root_path do %>
		<span class="navbar-menu-left">
			<%= image_tag "logo", height: "20px" %>
		</span>
	<% end %>
</div>