<div class="custom-navbar-top">
	<%= link_to root_path do %>
		<span class="navbar-menu-left">
			<%= image_tag "http://www.taomina.com/wp-content/uploads/2015/09/logo_2015.png", height: "20px" %>
		</span>
	<% end %>
	<%= link_to root_path do %>
		<span class="navbar-menu-right navbar-shop">
			<span>SHOP</span>
		</span>
	<% end %>
	<%= link_to root_path do %>
		<span class="navbar-menu-right navbar-project">
			<span>PROJECT</span>
		</span>
	<% end %>
	<%= link_to root_path do %>
		<span class="navbar-menu-right navbar-about"">
			<span>ABOUT</span>
		</span>	
	<% end %>
</div>